<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rails Bootstrap" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <style>
      body{
      	font-family: sans-serif;
      }
      h1 {
      	text-align: center;
      }
      p {
      	text-indent: 25pt;
        text-align: justify;
      }
      p.block-quote{
      	padding: 10px;
	border: 1px black solid;
	text-indent: 0pt;
	font-style: italic;
	margin-left: 50pt;
	margin-right: 50pt;
      }
    </style>
    <!--<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
